<app-main-header [back]="true" [done]="id ? '/decks' : null"></app-main-header>
<ion-content>
  <!--  <ion-grid>-->
  <!--    <ion-row>-->
  <!--      <ion-col size-md="4" size="12">-->
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide>
      <ion-card class="deck-card">
        <ion-card-content>
          <form [formGroup]="deck">
            <ion-item>
              <ion-label position="stacked">Title</ion-label>
              <ion-input formControlName="title"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Description</ion-label>
              <ion-textarea
                formControlName="description"
                [autoGrow]="true"
                [rows]="2"
              ></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Public</ion-label>
              <ion-toggle formControlName="isPublic"></ion-toggle>
            </ion-item>
          </form>
        </ion-card-content>
        <ion-card-header>
          <ion-button [disabled]="isLoading" (click)="saveOrUpdate()">Save</ion-button>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide class="cards-container">
      <ion-card *ngIf="cards.length === 0" class="initial-type-selection">
        <ion-card-header>Initial type</ion-card-header>
        <ion-card-content>
          <ion-button (click)="setInitialType('single')" fill="clear">Single</ion-button>
          <ion-button (click)="setInitialType('multiple')" fill="clear">Multiple</ion-button>
          <ion-button (click)="setInitialType('single-look')" fill="clear">Long</ion-button>
          <ion-button (click)="setInitialType('test')" fill="clear">Test</ion-button>
        </ion-card-content>
      </ion-card>
      <!--      </ion-col>-->
      <!--      <ion-col size-md="8" size="12">-->
      <app-modify-deck-card
        *ngFor="let card of cards; let last = last"
        [card]="card"
        [deckId]="id"
        (updated)="onCardUpdated($event, card, last)"
        (typeChanged)="onTypeChange($event, last)"
      ></app-modify-deck-card>
    </ion-slide>
  </ion-slides>

  <!--      </ion-col>-->
  <!--    </ion-row>-->
  <!--  </ion-grid>-->
</ion-content>
