<app-main-header></app-main-header>

<ion-content>
  <app-social-buttons></app-social-buttons>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <form [formGroup]="userForm">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-card-header>
        <ion-button class="full-width" style="margin-top: 10px" (click)="login()">Login</ion-button>
      </ion-card-header>
    </form>
  </ion-card>
</ion-content>

