ion-card {
  position: relative;

  .open-more {
    padding: 20px;
    cursor: pointer;
    right: 0;
    position: absolute;
    z-index: 2;
  }

  .answers-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
  }
}
