<ion-card *ngIf="group && answerControl">
  <form [formGroup]="group">
    <ion-icon
      class="open-more"
      size="small"
      name="ellipsis-vertical-sharp"
      (click)="openMenu($event)"
    ></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Question</ion-label>
            <ion-input
              (keydown.tab)="updated.emit()"
              (change)="save()"
              formControlName="question"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">
              {{ (type === 'single' || type === 'single-look') ? 'Answer' : 'Answers' }}
            </ion-label>
            <ion-input
              #answerInput
              [formControl]="answerControl"
              (keydown)="keyDownOnAnswer($event)"
              (change)="save()"
            ></ion-input>
          </ion-item>
          <div
            class="answers-container"
            *ngIf="type === 'multiple' && $any(group.controls.correctAnswers).controls.length > 1"
          >
            <ng-container
              *ngFor="
                let answer of $any($any(group.controls.correctAnswers).controls);
                let last = last;
                trackBy: trackAnswerBy"
            >
              <app-multi-input-entry
                *ngIf="!last"
                (click)="edit(answer)"
                (remove)="removeAnswer(answer, $event)"
                [label]="answer.value"
                [active]="answer === answerControl"
              ></app-multi-input-entry>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-card>
