<div
  class="answer {{ getColor() }}"
  [ngClass]="{'active': active}"
  (click)="clickToCheck && (isChecked = !isChecked)"
>
  <ion-checkbox
    *ngIf="showCheckbox"
    [color]="showColors ? getColor() : 'primary'"
    (click)="$event.stopPropagation()"
    [checked]="isChecked"
    (ionChange)="check.emit($event)"
  ></ion-checkbox>
  <ion-text [color]="getColor()">{{ label }}</ion-text>
  <ion-icon *ngIf="!readOnly" (click)="this.remove.emit($event)" name="close-outline"></ion-icon>
</div>
