<div>
  <app-main-header></app-main-header>
  <form [formGroup]="deck">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-label position="stacked">Title</ion-label>
                <ion-input formControlName="title"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Description</ion-label>
                <ion-textarea
                  [autoGrow]="true"
                  [rows]="2"
                ></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label>Public</ion-label>
                <ion-toggle></ion-toggle>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="8">
<!--          <ng-container *ngIf="deck['controls'].cards.value.length > 0"></ng-container>-->
<!--          <app-modify-deck-card-->
<!--            *ngFor="let groupInfo of deck['controls'].cards['controls']; let last = last"-->
<!--            [group]="groupInfo"-->
<!--            (updated)="onCardUpdated(last)"-->
<!--            (typeChanged)="onTypeChange($event, last)"-->
<!--          ></app-modify-deck-card>-->
          <app-modify-deck-card
            *ngFor="let card of cards; let last = last"
            [card]="card"
            [deckId]="id"
            (updated)="onCardUpdated($event, card, last)"
            (typeChanged)="onTypeChange($event, last)"
          ></app-modify-deck-card>
        </ion-col>
        <ion-button (click)="saveOrUpdate()">Save</ion-button>
      </ion-row>
    </ion-grid>
  </form>
</div>
