<app-main-header [back]="true" [ellipsis]="true"></app-main-header>
<ion-content>
  <div class="content-wrapper">
    <div class="info-wrapper">
      <ng-container *ngIf="deck">
        <div>
          <div>
            <ion-text style="font-weight: bold" color="light">{{ deck.title }}</ion-text>
          </div>
          <div class="description">
            <ion-text color="light">{{ deck.description }}</ion-text>
          </div>
          <div class="info-row">
            <ion-text color="medium">{{ deck.totalCards }} cards</ion-text>
            <ion-text color="medium">Owned by {{ deck.owner?.displayName }}</ion-text>
          </div>
        </div>
        <div class="ratings-container">
          <app-rating [rating]="deck.rating" [totalVotes]="deck.totalRatings"></app-rating>
          <div>
            <ion-chip color="success" [outline]="deck.subscription?.rating === 1" (click)="rate(1)">
              <ion-icon name="thumbs-up-sharp"></ion-icon>
            </ion-chip>
            <ion-chip color="danger" [outline]="deck.subscription?.rating === 0" (click)="rate(0)">
              <ion-icon name="thumbs-down-sharp"></ion-icon>
            </ion-chip>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="actions-wrapper">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-card-content class="ion-text-center">
                <ion-text style="font-weight: bold">Study</ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <ion-card>
              <ion-card-content class="ion-text-center">
                <ion-text>Assign to group</ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="5">
            <ion-card (click)="active()">
              <ion-card-content class="ion-text-center">{{deck.subscription?.active ? 'Active' : 'Inactive' }}</ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-card>
              <ion-card-content class="ion-text-center">View cards</ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
              <ion-card-content class="ion-text-center" routerLink="/decks/{{ deck._id }}/comments">Discussion</ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
