<ion-menu
  [swipeGesture]="false"
  side="start"
  menuId="main-menu"
  type="push"
  contentId="main"
>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/groups"><ion-text color="primary">Groups</ion-text></ion-item>
      <ion-item routerLink="/decks"><ion-text color="primary">Decks</ion-text></ion-item>
      <ion-item routerLink="/invites"><ion-text color="primary">Invites</ion-text></ion-item>
      <ion-item routerLink="/admin"><ion-text color="primary">Admin</ion-text></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
