<ng-container *ngIf="groupDecks">
  <ion-button style="margin: 10px; width: 90%" routerLink="/decks">Add</ion-button>
  <ion-card *ngFor="let groupDeck of groupDecks.data" style="width: 100%">
    <ion-card-content *ngIf="groupDeck.deck" style="text-align: left">
      {{ groupDeck.deck.title }}
      <ion-icon
              class="member-actions"
              style="position: absolute; right: 20px"
              size="small"
              name="ellipsis-vertical-sharp"
      ></ion-icon>
    </ion-card-content>
  </ion-card>
</ng-container>
